* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop-list-item {
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(85, 83, 83);
    position: relative;
    margin: 25px 5px 5px 5px;
    padding: 15px 0px;
    text-align: center;
    width: 500px;
    height: 500px;
}

.name {
    position: absolute;
    width: inherit;
    left: 0;
    top: -20px;
    text-align: center;
    font-size: 20px;

    .shop-list-item:hover {
        box-shadow: 0 0 5px green;
    }
}

.box-img {
    width: 75%;
    height: 75%;
}

.box-icon {
    position: absolute;
    top: 0;
    width: 6rem;
    right: 0;
}

.box-pride {
    position: absolute;
    left: 8px;
    bottom: 8px;
    font-size: 50px;
}

.box-action {
    position: absolute;
    width: 25px;
    bottom: 5px;
    right: 8px;
}